/* logo 1 */
html{
    position: relative;


    background-color: #F4EBEB;
}

#logo{
box-sizing: border-box;

position: absolute;
width: 366px;
height: 283px;
left: 48px;
top: 29px;

background: url(logo.jpg);
mix-blend-mode: color-burn;
border: 1px solid #9B8F8F;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
/* Кофе */

#kofe_text{
position: absolute;
width: 625px;
height: 43px;
left: 85px;
top: 428px;

font-family: 'Open Sans';
font-style: italic;
font-weight: 300;
font-size: 36px;
line-height: 49px;

color: #000000;

}



/* Обед с собой */

#obed{
    position: absolute;
width: 255px;
height: 43px;
left: 85px;
top: 501px;

font-family: 'Open Sans';
font-style: italic;
font-weight: 300;
font-size: 36px;
line-height: 49px;

color: #000000;

}



/* Выпечки */

#vypechki{
    position: absolute;
width: 167px;
height: 43px;
left: 85px;
top: 574px;

font-family: 'Open Sans';
font-style: italic;
font-weight: 300;
font-size: 36px;
line-height: 49px;

color: #000000;
}




/* Сладости */

#sladosti{
    position: absolute;
    width: 217px;
    height: 43px;
    left: 85px;
    top: 647px;
    
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    line-height: 49px;
    
    color: #000000;
}




/* Десерты */

#desserty{
    position: absolute;
    width: 167px;
    height: 43px;
    left: 85px;
    top: 355px;
    
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    line-height: 49px;
    
    color: #000000;
}




/* г. Караганда, проспект Бухар-Жырау, 50а Жаңа Абзал, 3 этаж */

#address{
    position: absolute;
    width: 625px;
    height: 30px;
    left: 447px;
    top: 29px;
    
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    
    color: #000000;
    
}



#fini{
    position: absolute;
    width: 235.99px;
    height: 219.59px;
    left: 1180.2px;
    top: 617px;
    
    background: url(fini.webp);
    transform: rotate(10.81deg);
    
}

/* fini */




/* kofe */

#kofe_pic{
    position: absolute;
    width: 154px;
    height: 187px;
    left: 487px;
    top: 150px;
    
    background: url(kofe.webp);
}



/* pahlava_1 */
#pahlava_1{
    position: absolute;
    width: 341px;
    height: 368px;
    left: 785px;
    top: 206px;
    
    background: url(pahlava_1.webp);
}




/* samsa */

#samsa{
    position: absolute;
    width: 241px;
    height: 217px;
    left: 831px;
    top: 638px;
    
    background: url(samsa.webp);
    border-radius: 36px;
}



/* sinnabon */

#sinnabon{
    position: absolute;
    width: 195.56px;
    height: 207.17px;
    left: 556.43px;
    top: 601px;
    
    background: url(sinnabon.webp);
    border-radius: 40px;
    transform: rotate(16.38deg);
}



/* stixi */

#stixi{
    position: absolute;
    width: 211px;
    height: 260px;
    left: 1201px;
    top: 279px;
    
    background: url(stixi.webp);
}



/* paxlava_2 */

#paxlava_2{
    position: absolute;
    width: 210px;
    height: 186px;
    left: 526px;
    top: 380px;
    
    background: url(paxlava_2.webp);
}

